h1 {
    color: black;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
    font-size: 30px;
}

li {
    font-size: 20px;
}

p {
    color: green;
    font-size: 30px;
}

button {
    padding: 10px 20px; /* Increases the size of the button */
    font-size: 18px;    /* Larger text */
    background-color: #4CAF50; /* Green background */
    color: white;       /* White text */
    border: none;       /* No border */
    border-radius: 12px; /* Rounded corners */
    cursor: pointer;    /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}